.sign-in-form {
   height: calc(100vh - 150px);
}

.sign-in-form::before {
   content: '';
   position: fixed;
   width: 300%;
   height: 100%;
   top: 50%;
   left: 50%;
   background-color: var(--orangeColor);
   border-radius: 50%;
   transform: translateX(-50%) skew(0, -10deg);
   z-index: -1;
   animation: waving 2s ease-in-out infinite alternate;
   -webkit-transform: translateX(-50%) skew(0, -10deg);
   -moz-transform: translateX(-50%) skew(0, -10deg);
   -ms-transform: translateX(-50%) skew(0, -10deg);
   -o-transform: translateX(-50%) skew(0, -10deg);
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   -webkit-animation: waving 10s ease-in-out infinite alternate;
}

.sign-in-form form {
   border-color: var(--orangeColor);
   box-shadow: var(--mainShadow);
}

.sign-in-form form h4 {
   color: var(--orangeColor)
}

.sign-in-form form input::placeholder {
   opacity: 0.6;
   font-weight: 300;
}

.sign-in-form>.container {
   min-height: 300px;
}

.sign-in-form .register-link {
   transition: var(--mainTransition);
   -webkit-transition: var(--mainTransition);
   -moz-transition: var(--mainTransition);
   -ms-transition: var(--mainTransition);
   -o-transition: var(--mainTransition);
}

.sign-in-form .register-link:hover {
   text-decoration: underline !important;
   color: #777 !important;
}

.sign-in-form form .sign-in-btn {
   background-color: var(--orangeColor);
   border-color: var(--orangeColor);
}

.sign-in-form form .sign-in-btn:hover {
   background-color: var(--orangeHover);
   border-color: var(--orangeHover);
}

@keyframes waving {
   from {
      transform: translateX(-50%) skew(0, -10deg);
      -webkit-transform: translateX(-50%) skew(0, -10deg);
      -moz-transform: translateX(-50%) skew(0, -10deg);
      -ms-transform: translateX(-50%) skew(0, -10deg);
      -o-transform: translateX(-50%) skew(0, -10deg);
   }

   to {
      transform: translateX(-30%) skew(10deg, 0);
      -webkit-transform: translateX(-30%) skew(10deg, 0);
      -moz-transform: translateX(-30%) skew(10deg, 0);
      -ms-transform: translateX(-30%) skew(10deg, 0);
      -o-transform: translateX(-30%) skew(10deg, 0);
   }
}