.landing {
   height: 100vh;
}

.landing h1 {
   font-size: 48px;
}

@media(max-width: 992px) {
   .landing h1 {
      font-size: 30px
   }
}

hr.divider {
   height: 3px;
   background: var(--orange-Color);
   max-width: 50px;
   opacity: 1;
}

.landing p {
   color: var(--white-Color);
}

.landing a {
   background-color: var(--orange-Color);
   font-size: 14px;
   padding: 18px 34px;
}

.landing a:hover {

   background-color: var(--orange-Hover);
}