.landing-overlay {
   background-image: linear-gradient(to bottom,
         #00000099 0%, #00000099 100%),
      url('../../assets/imgs/bg-masthead.webp');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 100vh;
}

.landing {
   height: 100vh;
}

.main-heading {
   position: relative;
}

.landing .main-heading {
   font-size: 48px;
}

@media(max-width: 992px) {
   .landing .main-heading {
      font-size: 30px
   }
}

.main-heading::before {
   content: '';
   position: absolute;
   height: 4px;
   width: 60px;
   bottom: -30px;
   left: 50%;
   background: var(--mainColor);
   border: 0.5px solid #000;
   opacity: 1;
   transform: translateX(-50%);
}

.landing p {
   color: var(--whiteColor);
}

.landing p+a {
   background-color: var(--mainColor);
   font-size: 14px;
   padding: 18px 34px;
}

.landing p+a:first-of-type:hover {

   background-color: var(--mainHover);
}

.landing p+a:first-of-type:active {
   background-color: var(--mainHover);
}

.landing a.arrow-icon {
   width: fit-content;
   bottom: 15px;
}

.landing a.arrow-icon svg {
   color: var(--mainColor);
   width: 40px;
   height: 40px;
}

@media(max-width: 567px) {
   .landing a.arrow-icon svg {
      width: 30px;
      height: 30px;
   }
}

/* Start About */
.about {
   padding: calc(var(--sectionPadding) * 1.5) 0;
   background-color: var(--mainColor);
}

.about .main-heading::before {
   background-color: #fff;
}

.about p {
   color: var(--whiteColor);
}

.about a {
   font-size: 14px;
   padding: 18px 34px;
}

.about a:hover {
   background-color: #e0e0e0;
}

.services {
   padding: var(--sectionPadding) 0;
   background-color: #f7f9fa;
}

.services .image-holder {
   width: 95px;
   height: 95px;
}

.services h6 {
   font-size: 18px;
   color: var(--mainColor);
}

.services p {
   line-height: 1.6;
   max-width: 300px;
}

.courses {
   padding: var(--sectionPadding) 0;
}