#mainNav {
   color: #ffffffb3;
   width: 100%;
   font-weight: bold;
   transition: var(--mainTransition);
   -webkit-transition: var(--mainTransition);
   -moz-transition: var(--mainTransition);
   -ms-transition: var(--mainTransition);
   -o-transition: var(--mainTransition);
}

#mainNav.main-nav-shadow {
   box-shadow: var(--mainShadow);
}

#mainNav .navbar-brand {
   font-size: 20px;
}

#mainNav a {
   color: inherit !important;
   font-size: 15px;
}

#mainNav a:hover {
   color: white !important;
}

#mainNav.alt-nav-hover a:hover {
   color: var(--orangeColor) !important;
}


#mainNav a {
   text-decoration: none;
   transition: none !important;
   -webkit-transition: none !important;
   -moz-transition: none !important;
   -ms-transition: none !important;
   -o-transition: none !important;
}