#mainNav {
   width: 100%;
   height: 72px !important;
   font-weight: bold;
   transition: background-color var(--mainTransition);
   -webkit-transition: background-color var(--mainTransition);
   -moz-transition: background-color var(--mainTransition);
   -ms-transition: background-color var(--mainTransition);
   -o-transition: background-color var(--mainTransition);
}

#mainNav.nav-color {
   color: var(--whiteColor);
}

.main-shadow {
   box-shadow: var(--mainShadow) !important;
}

#mainNav .navbar-brand {
   font-size: 20px;
}

#mainNav a {
   text-decoration: none;
   color: inherit !important;
   font-size: 15px;
   transition: var(--mainTransition) !important;
   -webkit-transition: var(--mainTransition) !important;
   -moz-transition: var(--mainTransition) !important;
   -ms-transition: var(--mainTransition) !important;
   -o-transition: var(--mainTransition) !important;
}

#mainNav a.active,
#mainNav a:hover {
   color: white !important;
}

#mainNav.alt-nav-hover a.active,
#mainNav.alt-nav-hover a:hover {
   color: var(--orangeColor) !important;
}

@media(max-width: 991px) {
   #mainNav .nav-link {
      width: 100%;
      text-align: center;
   }

   #mainNav .nav-link:hover {
      background-color: #00000006;
   }
}

#mainNav .navbar-toggler {
   box-shadow: none;
   width: 26px;
   height: 14px;
}

#mainNav .navbar-toggler span {
   width: 100%;
   height: 2px;
   background-color: black;
   position: absolute;
   left: 0;
   z-index: 1000;
   transition: all var(--mainTransition) ease;
   -moz-transition: all var(--mainTransition) ease;
   -ms-transition: all var(--mainTransition) ease;
   -o-transition: all var(--mainTransition) ease;
   -webkit-transition: all var(--mainTransition) ease;
}

#mainNav .navbar-toggler span:first-child {
   top: 0;
}

#mainNav .navbar-toggler span:nth-child(2) {
   top: 6px;
}

#mainNav .navbar-toggler span:last-child {
   top: 12px
}

#mainNav .navbar-toggler.rotate-bars span:nth-child(2) {
   opacity: 0;
}

#mainNav .navbar-toggler.rotate-bars span:first-child,
#mainNav .navbar-toggler.rotate-bars span:last-child {
   top: 6px;
   background-color: var(--orangeColor);
}

#mainNav .navbar-toggler.rotate-bars span:first-child {
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -o-transform: rotate(45deg);
}

#mainNav .navbar-toggler.rotate-bars span:last-child {
   transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
}

#mainNav .nav-user-info {
   max-width: max-content;
   gap: 4px;
}

#mainNav .nav-user-info svg {
   font-size: 22px;
   width: fit-content;
}

#mainNav .nav-user-info p {
   font-weight: normal;
   font-size: 10px;
   min-width: max-content;
}