#error-page {
   height: 100vh;
}

#error-page h1 {
   font-size: 70px;
}

#error-page p {
   width: fit-content;
}

#error-page button {
   font-size: 14px;
   background-color: var(--orangeColor);
}

#error-page button:hover {
   background-color: var(--orangeHover);
}