@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

:root {
  --whiteColor: #FFFFFFB3;
  --orangeColor: #F4623A;
  --orangeHover: #CF5331;
  --darkColor: #212529;
  --blueColor: #00AEFF;
  --mainTransition: 0.2s;
  --mainShadow: 0 0.5rem 1rem #00000026;
}

* {
  box-sizing: border-box !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}