:root {
  --white-Color: #ffffffb3;
  --orange-Color: #f4623a;
  --orange-Hover: #cf5331;
  --dark-Color: #212529;
  --main-Transition: 0.2s;
  height: 200vh
}

* {
  box-sizing: border-box !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}