.settings-box {
   height: 100vh;
   width: 200px;
   top: 0;
   left: -200px;
   z-index: 1030;
   transition: var(--mainTransition);
   -webkit-transition: var(--mainTransition);
   -moz-transition: var(--mainTransition);
   -ms-transition: var(--mainTransition);
   -o-transition: var(--mainTransition);
}

@media (max-width: 992px) {
   .settings-box {
      height: calc(100vh - 72px);
      top: auto;
      bottom: 0;
      z-index: 1024;
   }
}

.settings-box.opened {
   left: 0;
   border: 1px solid #eee;
   /* Instead of the border 
   box-shadow: var(--mainShadow); */
}

.settings-box.opened .settings-toggler {
   opacity: 1;
   /* Instead of the border 
   box-shadow: 0 0 1rem #00000026;
   clip-path: inset(-1rem -1rem -1rem 0px); */
}

.settings-box .settings-toggler {
   width: 30px;
   height: 30px;
   right: -30px;
   top: 135px;
   border-style: solid;
   border-width: 1px;
   border-color: #eee #eee #eee transparent;
   opacity: .5;
   cursor: pointer;
   transition: all .3s ease;
   -webkit-transition: all .3s ease;
   -moz-transition: all .3s ease;
   -ms-transition: all .3s ease;
   -o-transition: all .3s ease;
}

.settings-box .settings-toggler:hover {
   opacity: 1;
}

.settings-box .option-box {
   background-color: #eee;
   padding: 10px;
   margin: 10px;
   text-align: center;
}

.settings-box .option-box h4 {
   font-size: 14px;
   color: #444;
   font-weight: bold;
}

.settings-box .colors-list {
   margin: 10px 0 0;
   gap: 7px;
}

.settings-box .colors-list li {
   width: 24px;
   height: 24px;
   border: 3px solid #eee;
   opacity: .7;
   cursor: pointer;
   border-radius: 50%;
   transition: all var(--mainTransition);
   -webkit-transition: all var(--mainTransition);
   -moz-transition: all var(--mainTransition);
   -ms-transition: all var(--mainTransition);
   -o-transition: all var(--mainTransition);
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}

.settings-box .colors-list li:first-child {
   background-color: #f46239;
}

.settings-box .colors-list li:nth-child(2) {
   background-color: #e92063;
}

.settings-box .colors-list li:nth-child(3) {
   background-color: #009485;
}

.settings-box .colors-list li:nth-child(4) {
   background-color: #02a6f2;
}

.settings-box .colors-list li:last-child {
   background-color: #4cae4f;
}

.settings-box .colors-list li.active,
.settings-box .colors-list li:hover {
   border-color: #fff;
   opacity: 1;
}


.settings-box #profileBtn {
   width: calc(100% - 20px);
   height: 40.6px;
   font-weight: bold;
   font-size: 18px;
   border-radius: 0;
   position: absolute;
   bottom: 65px;
   left: 50%;
   transform: translateX(-50%);
}

.settings-box #logoutBtn {
   width: calc(100% - 20px);
   height: 40.6px;
   font-weight: bold;
   font-size: 18px;
   border-radius: 0;
   position: absolute;
   bottom: 15px;
   left: 50%;
   transform: translateX(-50%);
}